@using TechnikumPracticeDepartment.Models.ModelsStudents
@model IndexStudentsResponses
<style>
    .vacancy_item {
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 2px 12px #edeff0;
        justify-content: normal;
        border: 1px solid transparent;
        position: relative;
        margin-bottom: 16px;
        display: flex;
        transition: height 1s ease-in,padding-bottom .1s,padding-top .1s;
    }

    .description_vacancy {
        position: relative;
        width: 100%;
    }

    .title_vacancy {
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 1.1;
        font-weight: 700;
    }

    .tag {
        display: inline-block;
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        box-sizing: border-box;
        padding: 0 11px;
        text-align: left;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #edeff0;
        color: #303233;
        height: 32px;
        line-height: 30px;
        border: 1px solid transparent;
    }
</style>
<div>
    <div class="table_container" style="position: relative;">
        <div style="margin-bottom: 80px;">
            @if(Model.responses_fromStudent.Count() > 0)
            {
                <h3 style="margin-bottom: 10px;">Мои отклики:</h3>
            }
            @foreach (var a in Model.responses_fromStudent)
            {
                <div class="vacancy_item">
                    <div class="description_vacancy">
                        <div style="width: fit-content;"><a style="width: fit-content; color: black;"><h3 class="title_vacancy">@a.Vacancy.NameVacancy</h3></a></div>
                        <p style="margin-top: 8px; color:coral;"><b>Мой отклик на вакансию</b></p>
                        <p style="margin-top: 8px;">@a.Vacancy.Organization.NotFullNameOrganization @if (a.Vacancy.Organization.IsAvaliable == false) { <span style="color: red;">(Организация удалена)</span>}</p>
                        <p style="margin-top: 8px;">@a.Vacancy.Organization.AddressOrganization</p>
                        <p style="margin-top: 8px;">Дата и время отклика: @a.DateTimeCreate.ToShortDateString() @a.DateTimeCreate.ToShortTimeString()</p>
                        <p style="margin-top: 8px;">Статус: @(a.Status == 0 ? "создан" : (a.Status == 1 ? "на рассмотрении (ожидание ответа студента)" : (a.Status == 2 ? "на рассмотрении (получен ответ студента, ожидание ответа организации)" : (a.Status == 3 ? "принят (на рассмотрении отдела производственного обучения)" : (a.Status == 4 ? "принят" : (a.Status == 5 ? "отказ организации" : "отказ отдела производственного обучения"))))))</p>
                        <div onclick="infoResponse(@a.IdResponse, 1);" style="margin-top: 8px; width: fit-content; cursor: pointer; color: blue;">Подробнее</div>
                    </div>
                </div>
            }
            @if (Model.responses_fromOrganization.Count() > 0)
            {
                @if (Model.responses_fromStudent.Count() > 0)
                {
                    <hr class="hr_style" size="1px" noshade>
                }
                <h3 style="margin-top: 10px; margin-bottom: 10px;">Отклики организаций:</h3>
            }
            @foreach (var a in Model.responses_fromOrganization)
            {
                <div class="vacancy_item">
                    <div class="description_vacancy">
                        <div style="width: fit-content;"><a style="width: fit-content; color: black;"><h3 class="title_vacancy">@a.Vacancy.NameVacancy</h3></a></div>
                        <p style="margin-top: 8px; color:cornflowerblue;"><b>Отклик организации на моё резюме</b></p>
                        <p style="margin-top: 8px;">@a.Vacancy.Organization.NotFullNameOrganization</p>
                        <p style="margin-top: 8px;">@a.Vacancy.Organization.AddressOrganization</p>
                        <p style="margin-top: 8px;">Дата и время отклика: @a.DateTimeCreate.ToShortDateString() @a.DateTimeCreate.ToShortTimeString()</p>
                        <p style="margin-top: 8px;">Статус: @(a.Status == 0 ? "создан" : (a.Status == 1 ? "на рассмотрении (ожидание ответа студента)" : (a.Status == 2 ? "на рассмотрении (получен ответ студента, ожидание ответа организации)" : (a.Status == 3 ? "принят (на рассмотрении отдела производственного обучения)" : (a.Status == 4 ? "принят" : (a.Status == 5 ? "отказ" : "отказ отдела производственного обучения"))))))</p>
                        <div onclick="infoResponse(@a.IdResponse, 2);" style="margin-top: 8px; width: fit-content; cursor: pointer; color: blue;">Подробнее</div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        function infoResponse(idResponse, typeResponse) {
            $.ajaxSetup({ cache: false });
            $.get('/StudentsResponses/InfoResponse?idResponse=' + idResponse + '&typeResponse=' + typeResponse + '&fromDelete=1', function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').show();
            });
        };
    </script>
</div>